html,
body {
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;

  background: #fff2b7;

  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  color: #37352f;
  box-sizing: border-box;
}

h1 {
  line-height: 1.2;
}

h2 {
  margin-top: 0;

  @media (max-width: 600px) {
    text-align: center;
  }
}

section {
  padding: 40px 20px;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0;
}

.review {
  margin: 1rem;
  padding: 2rem;
  border: 1px #37352f solid;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: 600px) {
    padding: 1rem;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #37352f !important;
  opacity: 100% !important;
}

@media (max-width: 600px) {
  .slick-prev {
    left: -10px !important;
  }

  .slick-next {
    right: -10px !important;
  }
}

.quote {
  font-size: 3rem;
  line-height: 0;
}

.quote__open {
  margin-right: 1rem;
}
.quote__close {
  margin-left: 1rem;
  vertical-align: middle;
}
