---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Services from "../components/Services.astro";
import Reviews from "../components/Reviews.astro";
import Contact from "../components/Contact.astro";
import ShinyButton from "../components/ShinyButton.astro";
---

<Layout>
  <Hero />
  <AboutMe />
  <Services />
  <section>
    <ShinyButton label="Связаться" />
  </section>
  <Reviews />
  <Contact />
</Layout>
