---
import Download from "./icons/Download.astro";
---

<section>
  <div class="section-content about-me-wrapper">
    <div>
      <h2>Обо мне</h2>
      <p>
        Я закончила магистатуру университета Виго по специальности Прикладная
        Лингвистика и специализацией преподавание. Основа моей магисерской
        работы - испаноязыная музыка. Имено через музыку и танцы началась моя
        любовь к этой культуре. Моя задача - найти вместе с вами то, что сделает
        изучения языка интересным для вас.
      </p>
      <p>
        Также я много путешествовала и работала волонтером в самых разных местах
        Латинской Америки. Сейчас живу на севере Испании. Мой опыт жизни в
        испаноязычных странах позволяет мне делиться с учениками не только
        языком, но и культурой, традициями и особенностями общения.
      </p>
      <p>
        Я предлагаю индивидуальные занятия, которые помогут вам достичь ваших
        целей в изучении языка, будь то для учебы, работы или путешествий.
      </p>
    </div>
    <div>
      <h2>Образование</h2>
      <ul>
        <li>
          <strong>Магистр прикладной лингвистики</strong>
          <p>Университет Виго, Испания</p>
          <a
            href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="download-link"
          >
            <Download /> Диплом
          </a>
        </li>
        <li>
          <strong>Переводчик испанского языка</strong>
          <p>ДВФУ, Россия</p>
          <a
            href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="download-link"
          >
            <Download /> Диплом
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .section-content {
    background: white;
    padding: 20px;
    border-radius: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  ul p {
    margin: 0;
  }

  .about-me-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .download-link {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 5px;
  }

  @media (max-width: 768px) {
    .about-me-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
</style>
