<section>
  <div class="section-content about-me-wrapper">
    <div>
      <h2>Обо мне</h2>
      <p>
        Я Ирина, преподаватель испанского языка с опытом работы более 10 лет.
        Моя цель — сделать изучение испанского языка увлекательным и доступным
        для всех. Я закончила магистатуру университета Виго по специальности
        Прикладная Лингвистика. Сейчас живу на севере Испании.
      </p>
      <p>
        Я Ирина, преподаватель испанского языка с опытом работы более 10 лет.
        Моя цель — сделать изучение испанского языка увлекательным и доступным
        для всех. Я закончила магистатуру университета Виго по специальности
        Прикладная Лингвистика. Сейчас живу на севере Испании.
      </p>
      <p>
        Я предлагаю индивидуальные занятия, которые помогут вам достичь ваших
        целей в изучении языка, будь то для учебы, работы или путешествий.
      </p>
      <p>
        Присоединяйтесь ко мне, и давайте вместе откроем мир испанского языка!
      </p>
    </div>
    <div>
      <h2>Образование</h2>
      <ul>
        <li>
          <strong>Магистр прикладной лингвистики</strong>, Университет Виго,
          Испания
        </li>
        <li>
          <strong>Бакалавр испанского языка и литературы</strong>, Университет
          Санкт-Петербурга, Россия
        </li>
      </ul>
    </div>
  </div>

  <style>
    section {
      background-color: white;
    }

    .about-me-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  </style>
</section>
