---
import Download from "./icons/Download.astro";
---

<section>
  <div class="section-content about-me-wrapper">
    <div>
      <h2>Обо мне</h2>
      <p>
        Я окончила магистратуру университета Виго по специальности «Прикладная
        Лингвистика» (специализация «Преподавание языков»). Основа моей
        магистерской работы - испаноязычная музыка. Именно через музыку и танцы
        началась моя любовь к этой культуре. Моя задача - найти вместе с вами
        то, что сделает изучения языка интересным для вас.
      </p>
      <p>
        Я много путешествовала и работала волонтером в Испании и странах
        Латинской Америки. Сейчас живу на севере Испании. Мой опыт жизни в
        испаноязычных странах позволяет мне делиться с учениками не только
        языком, но и культурой, традициями и особенностями общения.
      </p>
    </div>
    <div>
      <h2>Образование</h2>
      <ul>
        <li>
          <strong>Магистр прикладной лингвистики</strong>
          <p>Университет Виго, Испания</p>
          <a
            href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="download-link"
          >
            <Download /> Диплом
          </a>
        </li>
        <li>
          <strong>Переводчик испанского языка</strong>
          <p>ДВФУ, Россия</p>
          <a
            href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="download-link"
          >
            <Download /> Диплом
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .section-content {
    background: white;
    padding: 20px;
    border-radius: 20px;
  }

  .about-me-wrapper {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 40px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  ul p {
    margin: 0;
  }

  .download-link {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 5px;
  }

  @media (max-width: 768px) {
    .about-me-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
</style>
