<section>
  <div class="section-content">
    <h2>Контакты</h2>
    <p>
      Хотите записаться на занятия или у вас есть вопросы? Свяжитесь со мной
      удобным для вас способом.
    </p>
    <ul>
      <li>
        Email: <a href="mailto:irinainvigo@gmail.com">irinainvigo@gmail.com</a>
      </li>

      <li>WhatsApp: <a href="https://wa.me/1234567890">+34 123 456 7890</a></li>
      <li>Телефон</li>
    </ul>
    <p>
      Оплата занятий ыозможна через банковский перевод как из России, так и
      других стран.
    </p>
  </div>
</section>
