---
import hero from "../assets/hero.jpg";
---

<div class="hero">
  <img
    src={hero.src}
    alt="Ирина, преподаватель испанского"
    class="hero-image"
  />
  <div class="hero-text">
    <h1>Привет, я Ирина, преподаватель испанского языка 🇪🇸</h1>
    <p>
      Живу в Испании и помогаю легко и с интересом освоить испанский язык. Мои
      ученики успешно сдают экзамены DELE и SIELE, поступают в Испанские ВУЗы, а
      также уверенно говорят на испанском в путешествиях и повседневной жизни.
    </p>
  </div>
</div>

<style>
  .hero {
    padding: 60px 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .hero-text {
    max-width: 500px;
  }

  .hero h1 {
    width: min(500px, 90vw);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .hero p {
    font-size: 1.25rem;
    max-width: 600px;
  }

  .hero-image {
    border-radius: 25px;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
</style>
