<section>
  <div class="section-content">
    <h2>Уроки</h2>
    <p>
      Все уроки проходят онлайн в Zoom или Google Meet. Я предоставлю все нужные
      материалы в цифровом формате. Стоимость занятий: 25€ за 60 минут. При
      оплате сразу 10 занятий — 220€.
    </p>
    <div>
      <h3>Индивидуальные занятия</h3>
      <p>
        Индивидуальные занятия позволяют сосредоточиться на ваших потребностях и
        целях. Мы будем работать над грамматикой, лексикой, разговорной
        практикой и аудированием.
      </p>
    </div>
    <div>
      <h3>Подготовка к экзаменам</h3>
      <p>
        Я помогу вам подготовиться к экзаменам DELE, SIELE и другим. Мы будем
        работать над аспектами языка, необходимыми для успешной сдачи экзамена.
      </p>
    </div>
    <div>
      <h3>Испанский для путешествий</h3>
      <p>
        Если вы планируете поездку в Испанию или Латинскую Америку, я помогу вам
        освоить основные фразы и выражения, которые пригодятся в путешествии.
        Даже 5-10 занятий будет достаточно, чтобы чувствовать себя более
        уверенно в поездке.
      </p>
    </div>

     Возможна оплата через PayPal или банковский перевод. Если вы хотите
    записаться на занятия или у вас есть вопросы, пожалуйста, свяжитесь со мной
    удобным для вас способом.
  </div>
</section>
