---
import Plane from "./icons/Plane.astro";
import Study from "./icons/Study.astro";
import Group from "./icons/Group.astro";
import Book from "./icons/Book.astro";
import ShinyButton from "./ShinyButton.astro";

const { href = "#contact" } = Astro.props;
---

<section>
  <div class="section-content">
    <h2>Занятия</h2>
    <p>
      Все уроки проходят онлайн в Zoom или Google Meet. Стоимость одного урока
      (60 минут) - 24€, при оплате сразу 10 занятий — 210€. Оплата занятий
      возможна через банковский перевод как из России, так и других стран. Я
      предоставлю все нужные материалы в цифровом формате.
    </p>

    <div class="services-list">
      <div class="service-item">
        <h3><Book />Индивидуальные занятия</h3>
        <p>
          Индивидуальные занятия позволяют сосредоточиться на ваших потребностях
          и целях. Мы будем работать над грамматикой, лексикой, разговорной
          практикой и аудированием.
        </p>
      </div>
      <div class="service-item">
        <h3><Study />Подготовка к экзаменам</h3>
        <p>
          Я помогу вам подготовиться к экзаменам DELE, SIELE и другим. Мы будем
          работать над аспектами языка, необходимыми для успешной сдачи
          экзамена.
        </p>
      </div>
      <div class="service-item">
        <h3><Plane />Испанский для путешествий</h3>
        <p>
          Если вы планируете поездку в Испанию или Латинскую Америку, я помогу
          вам освоить основные фразы и выражения, которые пригодятся в
          путешествии. Даже 5-10 занятий будет достаточно, чтобы чувствовать
          себя более уверенно в поездке.
        </p>
      </div>
      <div class="service-item">
        <h3><Group />Групповые занятия</h3>
        <p>
          Групповые занятия — это отличная возможность практиковать язык в
          общении с другими учениками.
        </p>
      </div>
    </div>

    <style>
      .services-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 15px;
      }

      @media (max-width: 768px) {
        .services-list {
          display: flex;
          flex-direction: column;
        }
      }

      .service-item {
        background: white;
        padding: 15px;
        border-radius: 10px;

        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
      }

      .service-item:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      }

      h3 {
        display: flex;
        gap: 10px;
      }
    </style>
  </div>
</section>
