---
import Plane from "./icons/Plane.astro";
import Study from "./icons/Study.astro";
import Group from "./icons/Group.astro";
import Book from "./icons/Book.astro";
---

<section>
  <div class="section-content">
    <h2 class="centered">Занятия</h2>
    <p>
      Уроки проходят онлайн в Google Meet. В своей работе я сочетаю традиционный
      и коммуникативный подход. На занятиях мы активно говорим, проводим
      виртуальные экскурсии, слушаем песни, обсуждаем тексты и применяем язык в
      реальных ситуациях. Использую современные учебники и методические пособия,
      адаптируя их под конкретные цели и уровень каждого ученика. Все
      необходимые материалы предоставляю в цифровом формате.
    </p>
    <p>
      Стоимость одного урока (60 минут) - 24€, при оплате сразу 10 занятий —
      210€. Оплата занятий возможна через банковский перевод как из России, так
      и других стран. Пробный урок (30 минут) - бесплатно.
    </p>

    <div class="services-list">
      <div class="service-item">
        <h3><Book />Индивидуальные занятия</h3>
        <p>
          Индивидуальные занятия позволяют сосредоточиться на ваших потребностях
          и целях. Мы будем работать над грамматикой, лексикой, разговорной
          практикой и аудированием.
        </p>
      </div>
      <div class="service-item">
        <h3><Study />Подготовка к экзаменам</h3>
        <p>
          Я помогу вам подготовиться к экзаменам DELE (уровни А1-В2) и SIELE. Мы
          будем работать над аспектами, необходимыми для успешной сдачи
          экзамена.
        </p>
      </div>
      <div class="service-item">
        <h3><Plane />Испанский для путешествий</h3>
        <p>
          Если вы планируете поездку в Испанию или Латинскую Америку, я помогу
          вам освоить базовые аспекты, которые пригодятся в путешествии. Даже
          10-15 занятий будет достаточно, чтобы чувствовать себя более уверенно
          в поездке.
        </p>
      </div>
      <div class="service-item">
        <h3><Group />Групповые занятия</h3>
        <p>
          Групповые занятия — это отличная возможность практиковать язык в
          общении с другими учениками по более доступной цене. Стоимость
          групповых занятий - базовый тариф (24€) + 5€ с каждого нового
          человека.
        </p>
      </div>
    </div>

    <style>
      .services-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 15px;

        margin-top: 40px;
      }

      @media (max-width: 768px) {
        .services-list {
          display: flex;
          flex-direction: column;
        }
      }

      .service-item {
        background: white;
        padding: 15px;
        border-radius: 10px;

        text-align: center;
        font-size: 0.9em;

        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
      }

      .service-item:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      }

      h3 {
        display: flex;
        gap: 10px;
        justify-content: center;
      }
    </style>
  </div>
</section>
